.deleteLottie {
  background-color: #f9eaec;
}

.modalButtonYes,
.modalButtonNo {
  background-color: #8fd1ea;
  border: none;
  width: 30%;
}

.modalButtonYes:hover,
.modalButtonNo:hover {
  background-color: black;
}

/* .buttonSection{
    align-items: center;

} */
